
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'notes/css/notes_detail.css' %}">
{% endblock extra_css %}



{% block content %}

<div class="sub-header">
    <h1>git</h1>
    <h3>
        <a href="{% url 'programming' %}" class="back-link">← Back to Programming and Development</a>
    </h3>
</div>

<div class="detail-container">
    <aside class="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#ssh">ssh</a></li>
            <li><a href="#gitignore">.gitignore</a></li>
            <li><a href="#clone">clone</a></li>
            <li><a href="#pull">pull</a></li>
            <li><a href="#add">add</a></li>
            <li><a href="#commit">commit</a></li>
            <li><a href="#push">push</a></li>
            <li><a href="#checkout">checkout</a></li>
            <li><a href="#pull-requests">Pull Requests</a></li>
        </ul>
    </aside>

    <div class="main-content">
        <section id="introduction">
            <h1>Introduction</h1>
            <p>
                There are many different offerings of git: GitHub, GitLab, Bitbucket, and more. I predominantly use
                GitHub and Bitbucket, but I have used CodeCommit in the past. The fundamentals are the same across all
                platforms, but the user interface and additional features differ. Below are notes on the fundamentals.
                First though, what is git? git is a distributed version control system that allows for collaboration,
                and is massively helpful with tracking changes in code (and reverting to the last working version when
                you break something).
            </p>
        </section>

        <section id="ssh">
            <h1>ssh</h1>
            <p>
                ssh stands for Secure Shell, and is a way to connect to a remote server. It's a way to securely connect
                to a remote git repository (hosted on GitHub, Bitbucket, etc.) without having to enter your username and
                password every time you push or pull. Though you should password protect your ssh key, and you will have
                to enter that password every time. Below are the steps to set up ssh:
            </p>
            <ol>
                <li>Check for existing ssh keys: <code>ls -al ~/.ssh</code></li>
                <li>Generate a new ssh key: <code></code> </li>
        </section>

        <section id="gitignore">
            <h1>.gitignore</h1>
            <p>
                This is a file telling git what not to upload to the repository from your local machine, it should
                include everything that you do not want publicly available and then potentially some more. In a
                .gitignore file you simply list files and directories you do not want tracked by git. Every file or
                directory on its own line. Below is a list of things I typically include in a .gitignore:
            </p>
            <ul>
                <li>venv/</li>
                <li>.idea/</li>
                <li>__pycache__/</li>
                <li>.DS_Store</li>
                <li>*.sqlite3</li>
                <li>.env</li>
                <li>data/</li>
                <li>*.xlsx</li>
                <li>*.csv</li>
            </ul>
            <p>
                For reference, '*.file_extension' ignores every file with that extension, and 'directory/' ignores every
                thing in that directory. This list isn't exhaustive, and different types of projects will have varying
                needs for what to include in a .gitignore.
            </p>
        </section>

        <section id="clone">
            <h1>clone</h1>
            <p>
                Cloning a repository is the act of copying it to your local machine. This is the first step in working on
                a project that already exists. To clone a repository you need the URL of the repository, and then you
                simply run the following command in your terminal: <code>git clone URL</code>. This will create a new
                directory with the name of the repository and copy the entire repo to your local machine.
            </p>
        </section>

        <section id="pull">
            <h1>pull</h1>
            <p>
                <code>git pull</code> is the command to get the latest changes from the remote repository. This is done
                in terminal in the directory of the local repository. Pulling will merge the changes from the remote
                repo to your local repo. If there are conflicts, you will have to resolve them before you can push your
                changes to the remote repo. Do not use <code>git pull</code> if you have uncommitted changes in your
                local repo. Instead, use <code>git stash</code> to save your changes, then <code>git pull</code>, and
                finally <code>git stash pop</code> to reapply your changes. It is helpful to pull before you start
                working on a project to ensure you have the most up-to-date version.
            </p>
        </section>

    </div>
</div>


{% endblock content %}