
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'notes/css/notes_detail.css' %}">
{% endblock extra_css %}



{% block content %}

<div class="sub-header">
    <h1>Python</h1>
    <h3>
        <a href="{% url 'programming' %}" class="back-link">← Back to Programming and Development</a>
    </h3>
</div>

<div class="detail-container">
    <aside class="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#development-environments">Development Environments</a></li>
            <li><a href="#os">os</a></li>
            <li><a href="#pandas">pandas</a></li>
            <li><a href="#numpy">numpy</a></li>
        </ul>
    </aside>

    <div class="main-content">
        <section id="development-environments">
            <h2>Development Environments</h2>
            <p>I predominantly use PyCharm Community Edition, below are some reasons why:</p>
            <ul>
                <li>Easy project navigation.</li>
                <li>A text editor and terminal all in one nicely organized window.</li>
                <li>GitHub co-pilot integration.</li>
                <li>Familiarity breeds fondness.</li>
            </ul>
        </section>

        <section id="os">
            <h2>os</h2>
            <p>
                os is great for interacting with the file system and its contents. Below are some examples of how I use
                os:
            </p>
            <ul>
                <li>os.getcwd() - returns the current working directory.</li>
                <li>os.listdir() - returns a list of files in the current working directory.</li>
                <li>os.path.join() - joins two paths together.</li>
            </ul>
        </section>

        <section id="pandas">
            <h2>pandas</h2>
            <p>
                pandas is great for reading and manipulating data. Below I'll outline some of the functions I use most
                frequently, with explanations for what they do:
            </p>
        </section>

        <section id="numpy">
            <h2>numpy</h2>
            <p>filler text</p>
        </section>
    </div>
</div>
{% endblock content %}