
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'notes/css/notes_detail.css' %}">
{% endblock extra_css %}



{% block content %}

<div class="sub-header">
    <h1>R</h1>
    <h3>
        <a href="{% url 'programming' %}" class="back-link">← Back to Programming and Development</a>
    </h3>
</div>

<div class="detail-container">
    <aside class="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#rstudio">RStudio</a></li>
            <li><a href="#dplyr">dplyr</a></li>
            <li><a href="#lubridate">lubridate</a></li>
            <li><a href="#ggplot">ggplot2</a></li>
        </ul>
    </aside>

    <div class="main-content">
        <section id="rstudio">
            <h1>RStudio</h1>
            <p>
                I've been using RStudio since 2013, it's the only way to use R. When I first started using R in 2012
                my default was to create a folder and setwd() to that folder, but it's much better practice to create
                a project in RStudio and completely dispense with setwd(). Everything is so much more seamless in with
                R in RStudio: plots, seeing your directory, viewing data, and lastly developing Shiny apps.
            </p>
        </section>

        <section id="dplyr">
            <h1>dplyr</h1>
            <p>
                dplyr is great for filtering, mutating, and summarizing data. We'll start with pipes and then work our
                way to the many things you can do with dplyr.
            </p>
        </section>

    </div>
</div>


{% endblock content %}