<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'notes/css/notes.css' %}">
{% endblock %}

{% block content %}

<div class="sub-header">
    <h1>Notes</h1>
</div>

<div class="card-container">
    <div class="card">
        <h2>Programming and Development</h2>
        <p>Languages, learned and loved.</p>
        <a href="{% url 'programming' %}" class="learn-more-button">Learn More</a>
    </div>
    <div class="card">
        <h2>Data Science</h2>
        <p>Theory, process, and application.</p>
        <a href="{% url 'data_science' %}" class="learn-more-button">Learn More</a>
    </div>
    <div class="card">
        <h2>Data Engineering</h2>
        <p>Pipelines: how I build and manage them.</p>
        <a href="{% url 'data_engineering' %}" class="learn-more-button">Learn More</a>
    </div>
    <div class="card">
        <h2>Mathematics</h2>
        <p>Nature's code, decoded.</p>
        <a href="{% url 'notes' %}" class="coming-soon-link">🚧 Stay Tuned! 🚧</a>
    </div>
    <div class="card">
        <h2>Economics</h2>
        <p>Thoughts on the margin.</p>
        <a href="{% url 'notes' %}" class="coming-soon-link">🚧 Stay Tuned! 🚧</a>
    </div>
</div>

{% endblock content %}